[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "vendor/qoi"]
	path = vendor/qoi
	url = https://github.com/phoboslab/qoi.git
[submodule "vendor/nanosvg"]
	path = vendor/nanosvg
	url = https://github.com/memononen/nanosvg.git
[submodule "vendor/jpeg-quantsmooth"]
	path = vendor/jpeg-quantsmooth
	url = https://github.com/ilyakurdyukov/jpeg-quantsmooth
[submodule "vendor/zlib-ng"]
	path = vendor/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
