[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "vendor/qoi"]
	path = vendor/qoi
	url = https://github.com/phoboslab/qoi.git
[submodule "vendor/nanosvg"]
	path = vendor/nanosvg
	url = https://github.com/memononen/nanosvg.git
